Debug/
Release/
build/
bin/
obj/
src/packages/
TestResult.xml
*.user*
*.suo
*ReSharper*
*.xap 
*.vspcc 
*.vscc 
*.vssscc
*~
*.exe
*.msi
*.ncrunch*
*.cache
*.csproj?*

/src/.vs/SlimJim/v15/sqlite3/storage.ide
/src/.vs/
